div {
    display: flex;
    gap: 12px;
    font-size: 12px;
    p {
        padding: 6px 10px;
        margin: 0 4px;
        background-color: #FAFAFA;
        border: 1px solid black;
    }
    button {
        background-color: inherit;
        border: 0;
        cursor: pointer;
        transition: 0.2;
        &:hover {
            outline: 0;
            background-color: #FAFAFA;
            transition: 0.2;
        }
    }
}