table {
    width: 100%;
    margin: 12px 0;
    text-align: left;
    text-overflow: ellipsis;
    border: 1px solid black;
    border-collapse: collapse;
    thead {
        font-size: 15px;
        font-weight: 500;
        tr {
            th {
                padding: 10px 20px;
                border: 1px solid rgb(117, 117, 117);
            }
        }
    }
    tbody {
        font-size: 14px;
        tr {
            td {
                padding: 9px 18px;
                border: 1px solid rgb(117, 117, 117);
            }
        }
    }
}
h4 {
    width: 100%;
    text-align: center;
    margin-top: 12px;
    font-weight: 500;
    opacity: 0.5;
}