<app-flat-button 
    label="Add New User" 
    (onClick)="onAddUser()"
></app-flat-button>
<div fxLayout fxLayoutAlign="space-between center" style="margin-top: 32px;">
    <app-entries-selector
        [entryControl]="entryFormControl"
        [possibleEntries]="possibleEntries"
        (onChangeValue)="onChangeEntry()"
    ></app-entries-selector>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="8px">
        <p>Search</p>
        <app-text-input
            placeholder="Search for Username..."
            [control]="searchFormControl"
            (onChangeValue)="onChangeSearch()"
        ></app-text-input>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="!isListEmpty">
        <tr *ngFor="let user of users">
           <td>{{ user.id }}</td> 
           <td>{{ user.email }}</td> 
           <td>{{ user.username }}</td> 
           <td>
                <app-icon-button
                    icon="eye"
                    (onClick)="onViewUser(user)"
                ></app-icon-button>
                <app-icon-button
                    icon="edit"
                    (onClick)="onEditUser(user)"
                ></app-icon-button>
                <app-icon-button
                    icon="trash"
                    (onClick)="onDeleteUser(user.id)"
                ></app-icon-button>
           </td> 
        </tr>
    </tbody>
</table>
<h4 *ngIf="isListEmpty">
    Empty list
</h4>
<div fxLayout fxLayoutAlign="space-between center">
    <app-entries
        [items]="items"
        [entries]="entries"
        [currentPage]="currentPage"
    ></app-entries>
    <app-paginator></app-paginator>
</div>